<div class="min-h-screen bg-slate-950 text-slate-100 px-6 py-10">
  <div class="max-w-2xl mx-auto px-6 py-10 text-slate-100">
    <h1 class="text-3xl font-bold md-8">Edit Manga</h1>
    <%= render "form", manga: @manga %>
  </div>
</div>
